.footer {  
  padding-top: 30px;
  padding-bottom: 30px;

  @include lg {
    padding-top: 60px;
    padding-bottom: 50px;
  }

  &__container {    

    @include md {
      display:grid;
      grid-template-columns: 1fr 241px;
      grid-template-rows: 32px 1fr;
      justify-content: space-between;
      column-gap: 300px;
      row-gap: 42px;
    }

    @include lg {
      row-gap: 72px;
      grid-template-columns: 1fr 305px;
      grid-template-rows: 56px 1fr;
    }   
  }

  &__logo {
    width: 200px;
    margin-bottom: 32px;

    @include md {
      margin-bottom: 0;
    }
    
    @include lg {
      width: 360px;
    }
  }

  &__social-list {
    display: flex;
    gap: 16px;
    margin-bottom: 52px;

    @include md {
      margin-bottom: 0;
    }

    @include lg {
      gap: 36px;
    }
  }

  &__social-item {
  }

  &__social-link {
    display: block;
    width: 36px;
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-radius: 3px;
    color: $main;
    transition: transform .36s, color .36s;    

    @include lg {
      width: 50px;
    }    

    &:focus:not(:hover) {
      outline-color: $second;
    }

    &:hover {
      transform: scale(1.5);
      color: $second;
    }
  }

  &__developers {
    margin-bottom: 52px;

    @include md {
      margin-bottom: 0;
      order: 1;
    }

    @include lg {
      font-size: 20px;
    }    
  }

  &__developer {
    margin-bottom: 19px;
    
    @include lg {
      margin-bottom: 16px;
    }

    &:last-child {
      margin-bottom: 0;      
    }

    &-link {
      color: $main;
      outline: 2px solid transparent;
      outline-offset: 2px;
      border-radius: 3px;
      transition: color 0.3s ease;

      &:focus:not(:hover) {
        outline-color: $second;
      }

      &:hover {
        color: $second;
      }
    }

  }

  &__copyrigt {    

    @include lg {
      font-size: 20px;
    }
  }
}
