.page {
  &__container {
    margin-top: 40px;
    margin-bottom: 30px;

    @include lg {
      display: flex;   
      justify-content: space-between;
    }
  }

  &__header {
    position: static;
  }

  @include lg {
    &__container {
      margin-top: 100px;
      margin-bottom: 60px;
    }
  }
  
}