.page {
  &__container {
    padding-top: 40px;
    padding-bottom: 30px;

    @include lg {
      display: flex;   
      justify-content: space-between;
    }
  }

  &__header {
    position: static;
  }

  @include lg {
    &__container {
      padding-top: 100px;
      padding-bottom: 60px;
    }
  }
  
}